.page-footer {
    padding-top: 60px;
    background: var(--footer-background);
}

.page-footer .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-footer__item:first-child {
    margin-right: 70px;
}

.page-footer__item:last-child {
    margin-left: 93px;
}